.App{
	position: relative;
	background: white;
	max-width: 400px;
	margin: 0 auto;
	font-family: "Lato", sans-serif;
	animation: fadein 1s;
}

.Data{
	position: relative;
	min-height: 325px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}