.Hero{
	background: #eee;
	text-align: center;
	padding: 75px 0;

	&--clouds{}
	&--rain{}

	&__weather{
		font-weight: bold;
		font-size: 20px;
	}

	&__city{
		font-size: 16px;
		line-height: 30px;
	}

	&__temperature{
		font-weight: bold;
		font-size: 70px;
		margin: 10px 0;
		position: relative;

		&:after{
			content: "\00b0";
			position: absolute;
			top: 10px;
			display: inline-block;
			font-size: 32px;
			margin-left: 10px;
		}
	}
}