.Hero{
	background: #0277bd;
	padding: 5px 45px 25px;
	position: relative;
	color: white;

	/* Background Types */
	&--clouds{ background: #283593; }
	&--rain{ background: #00695c; }
	&--drizzle{ background: #2e7d32; }
	&--clear{ background: #0277bd; }

	&__weather{
		font-weight: lighter;
		font-size: 34px;
		position: relative;
		z-index: 1;
		animation: fadein 1s;
	}

	&__city{
		font-size: 16px;
		font-weight: bold;
		line-height: 34px;
		text-transform: uppercase;
		animation: fadein 1s;
	}

	&__temperature{
		font-weight: light;
		font-size: 70px;
		margin: 10px 0 75px;
		position: relative;
		text-align: right;
		animation: fadein 1s;

		&:after{
			content: "\00b0";
			position: absolute;
			top: 10px;
			display: inline-block;
			font-size: 32px;
			margin-left: 4px;
		}
	}
}