.Navigation{
	padding: 0;
	margin: 0;

	$block: &;

	&__item{
		display: inline-block;
		width: 50%;
		padding: 20px 10px;
		box-sizing: border-box;
		text-align: center;
		border-bottom: 1px solid #eee;
		cursor: pointer;
		background: #fafafa;

		&:first-child{
			border-right: 1px solid #eee;
		}
	}

	&--weather{
		#{$block}__item:first-child{
			font-weight: bold;
			border-bottom: none;
			background: white;
		}
	}

	&--forecast{
		#{$block}__item:last-child{
			font-weight: bold;
			border-bottom: none;
			background: white
		}
	}
}